|.egg-info
*.swp
*.pyc
dist/
pypandoc.egg-info/
.tox/

## IDEs
# pycharm
.idea/

# downloaded pandoc packages
pandoc-*.msi
pandoc-*.deb
pandoc-*.pkg
# The downloaded files end up here
pypandoc/files/
build/
